<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.js"></script>
	</head>
	<body>
    {% block content %}{% endblock %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNeyQA_A-PsRie8oJYnODhNEgIdEMSFTU&sensor=true"></script>
    <script src="/javascript/googleMaps.js"></script>
  </body>
</html>
